* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.asos .nav{
  padding: 25px 0 ;
 height: 150px;
 display: flex ;
 justify-content: space-around;
 text-align: center;
 background-color: rgb(0, 0, 0);

}

.asos .row{ 
 padding-top: 45px;
 text-align: center;
 display: flex;
 justify-content: space-between;
 width: 800px;
}

.asos .row li a{
 font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 14px;

color: #FFFFFF;
}

.asos .row li a:hover{
 color: aquamarine;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header ul {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 51px 0 65px;
}

header ul li a {
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */


  color: #000000;

}

header ul li a:hover {
  height: 25px;
  border-bottom: 10px solid #4581B7;
  text-decoration: solid;
  border-bottom: #000000;
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */


  color: #4581B7;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section_1 {
  /* padding: 50px 30px 80px; */
  width: 1110px;
  margin: 30px 0;
  display: flex;

}

.box1 {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  background: rgba(196, 196, 196, 0.5);
  width: 730px;
  height: 460px;
}

.box2 {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  align-items: center;
  background: rgba(196, 196, 196, 0.5);
  width: 350px;
  height: 460px;
}

.box1 h3 {
  margin: 50px auto 30px 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  /* Blue */

  color: #4581B7;
}

.box2 h3 {
  margin: 50px auto 30px 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  /* Blue */

  color: #4581B7;
}

.box1 p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  margin: 0 38px 80px 30px;
  color: rgba(0, 0, 0, 0.5);
}

.box2 p {
  margin: 0 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: rgba(0, 0, 0, 0.5);
}


.box2 a {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: rgba(0, 0, 0, 0.5);
}

.letter {
  margin: 35px auto 35px 28px;
}

.letterr {
  margin: 0 auto 35px 28px;
}

main {
  display: flex;
  justify-content: center;
}

footer {

  width: 1110px;
  height: 160px;
  background: rgba(196, 196, 196, 0.5);
  display: flex;

  justify-content: space-between;

}


footer div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.l {
  margin: 35px 0 5px;
  width: 270px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: rgba(0, 0, 0, 0.5);

}

.ll {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: rgba(0, 0, 0, 0.5);

}